@tailwind base;
@tailwind components;
@tailwind utilities;

.stuff-base-img {
    opacity: .3;
    filter: grayscale(100%) brightness(125%);
}

.character-img {
    object-fit: contain;
    max-height: 450px;
    margin-left: 50px;
    margin-right: 50px;
}

.character-img-dashboard {
    object-fit: contain;
    max-height: 150px;
}

.separator {
    border-bottom: #111827 solid 2px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.equipment-separator {
    border-bottom: #111827 solid 1px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.selected {
    background-color: rgb(107 114 128);
    border-width: 1px;
    border-color: rgb(55 65 81);
}

.selected:hover {
    background-color: rgb(156 163 175);
    border-color: rgb(107 114 128);
}

.unselected {
    border-width: 1px;
    border-color: rgb(75 85 99);
}

.unselected:hover {
    background-color: rgb(75 85 99);
}

.grid-cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
}